.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.navbar > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 25%;
    flex-wrap: wrap;
}

.navbar > div:nth-child(2) div{
    color: rgb(205, 238, 149);
    text-decoration: solid;
    font-weight: 500;
}

.navbar > div:nth-child(2) div:hover{
    cursor: pointer;
}

.navbar h1:hover{
    cursor: pointer;
}

.navbar h1{
    color: rgb(142, 240, 198);
    font-style: italic;
    font-size: xx-large;
    font-weight: 600;
}